.aboutMe {
    text-align: center;
    margin-top: 3rem;
    margin-left: 22.5%;
    width: 70%;
}
@media only screen and (max-width: 320px) {
    .aboutMe {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .aboutMe p {
        font-size: 1.5rem;
    }
    .aboutMe h1 {
        font-size: 2rem;
    }
}
@media only screen and (min-width: 321px) and (max-width: 600px) {
    .aboutMe {
        margin-left: auto;
        margin-right: auto;
    }
}